@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    padding: 20px;
    background: #0e0e0f;
    color: #F5F5F5;
  }

.card {
    border: 1px solid #37393b;
    border-radius: 6px;
    padding: 15px;
    background: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
  
.header{
    display: flex;
    gap: 15px;
    color: #F5F5F5;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    border: 1px solid #555;
    border-radius: 45px;
    padding: 8px 10px;
    cursor: pointer;
}

button:active {
    background-color: white;
    color: #0e0e0f;
}

button:hover{
    box-shadow: 
    5px 5px 10px blue,
    10px 10px 20px hotpink;;
}